.table{
	width: 550px;
	height: 600px;
	border: 9px solid #fff;
}

tr, td{
	border: 8px solid #251810;
	padding: 10px;
}

.red_color{
	background-image: url("../img/red.png");
	width: 40px;
	height: 160px;
}

.black_color_1{
	background-image: url("../img/black.png");
	width: 20px;
	height: 20px;
}

.black_color_2{
	background-image: url("../img/black.png");
	width: 100px;
	height: 10px;
}

.yellow_color{
	background-image: url("../img/yellow.png");
	width: 40px;
}

.blue_color{
	background-image: url("../img/blue.png");
}